/*======================================================*\
 * Mixins
\*======================================================*/

@import "mixins";
@import "fonts";

$icon-font-path: '../fonts/';

@media (min-width: 768px) {
  /*======================================================*\
   * Body
  \*======================================================*/
  body {
  }

  /*======================================================*\
   * Global
  \*======================================================*/
  .mobile-hidden {
    display: auto;
  }

  /*======================================================*\
   * Canvas Overlay
  \*======================================================*/
  /*======================================================*\
   * Parallax Elements
  \*======================================================*/
  .moon-wrapper {
    height: 0px;
  }

  /*======================================================*\
   * Parallax Triggers
  \*======================================================*/
  /*======================================================*\
   * Scroll up
  \*======================================================*/
  .scroll-up img {
    width: 120px;
    height: 120px;
  }


  /*======================================================*\
   * Menu
  \*======================================================*/
  .open-menu {
    display: none;
  }

  /*======================================================*\
   * Page css
  \*======================================================*/
  .narrator-logo-full {
    width: 20em;
    display: block;
  }

  .narrator-logo-small {
    position: absolute;
    top: 10%;
    height: 2em;
    width: 2.4em;
    display: block;
  }

  .column-left {
    width: 48%;
    float: left;
    padding-right: 2%;
  }

  .column-right {
    width: 50%;
    float: right;
  }

  %section-child {
    margin-left: -37.5%;
    width: 75%;
  }

  //-------------------------------------
  // section-contact
  //-------------------------------------
  #section-contact-child {
    text-align: left;
  }

  #section-contact-flex {
    @include flex-container;
  }

  #contact-right {
    flex: 1 70%;
    order: 2;
    @include flex-container;
    flex-flow: row wrap;
    padding-top: 200px;
    max-width: 500px;

    #contact-text {
      font-size: 22px;
      flex: 1 100%;
    }

    .line {
      flex: 1 100%;
      border-bottom: solid white 1px;
      margin: 1em 0em;
    }

    #contact-fields {
      flex: 1 1 60%;
      @include flex-container;
      justify-content: flex-end;
      flex-flow: row wrap;

      input[type=text] {
        border: none;
        padding: 8px;
        font-size: 22px;
        flex: 1 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0.2em 0em;
      }

      .line {
        flex: 1 100%;
        border-bottom: solid white 1px;
        margin: 1.8em 0em 2em;
      }

      a {
        display: block;
      }
    }

    #contact-info {
      flex: 1 1 35%;
      margin-left: 5%;
      font-size: 18px;
      line-height: 2em;
      a {
        color: white;
      }
    }
  }

  #contact-quote {
    flex: 1 30%;
    order: 1;
    .quote {
      position: relative;
      text-align: center;
      margin: 1em auto;
      max-width: 27em;
    }

    .quote-attrib {
      margin: 0.5em 0em;
    }

    padding-top: 200px;
  }

  //-------------------------------------
  // section-story-type
  //-------------------------------------
  #section-story-type-flex {
    margin: 0px auto;
  }
  #section-story-type-child {
    text-align: center;

    .section-story-type-header {
      max-width: 64em;
      margin: auto;
      h1 {
        font-size: 38px;
        line-height: 110%;
        font-weight: 500;
        margin: 0em 0em;
      }

      .main {
        line-height: 2.5em;
        margin: 2em 0em 3em;
        font-size: 14px;
      }
    }

    .story-types {
      @include flex-container;
      flex-flow: row nowrap;
      justify-content: center;
      margin: auto;
      max-width: 64em;

      .story-type {
        flex: 1;
        margin: 2em;
        max-height: 12em;
        max-width: 12em;
        height: 12em;
        a {
          color: white;
        }
        img {
          height: 75%;
        }
        span {
          display: block;
          font-size: 22px;
        }
      }
    }
  }

  //-------------------------------------
  // section-workshop
  //-------------------------------------
  #section-workshop-flex-mobile {
    display: none;
  }

  #section-workshop-flex {
    @include flex-container;

    max-width: 1024px;
    margin: 0 auto;
    text-align: left;

    .work-right {
      flex: 1;
      order: 2;
      padding: 1em;
      h1 {
        font-size: 38px;
        line-height: 110%;
        font-weight: 500;
        margin: 0em 0em;
      }

      .main {
        line-height: 2.5em;
        margin: 2em 0em 2em;
        font-size: 14px;
      }

      a {
        align-self: flex-end;
      }
    }

    .work-left {
      flex: 1;
      order: 1;
      padding: 1em;

      .workshop-quote {
        margin: 4em 0em 3em;
        .quote {
          position: relative;
          text-align: center;
          .quote-text {
            margin: auto;
            max-width: 11em;
          }
        }

        .quote-attrib {
          margin: 0.5em 0em;
        }
      }

      img {
        width: 100%;
      }
    }
  }

  //-------------------------------------
  // section-work
  //-------------------------------------
  #section-work-flex-mobile {
    display: none;
  }

  #section-work-flex {
    display: block;
    text-align: left;
    width: 75%;

    @include flex-container;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    .work-header {
      flex: 1 100%;
      @include flex-container;

      .work-title {
        flex: 2;
        padding: 1em;
        h1 {
          font-size: 42px;
          line-height: 110%;
          font-weight: 500;
          margin: 0em 0em 0.5em 0em;
          margin: 0px;
        }
      }

      .work-quote {
        flex: 1;
        padding: 1em;
        .quote {
          position: relative;
          text-align: center;
          .quote-text {
            margin: auto;
            max-width: 18em;
          }
        }
        .quote-attrib {
          margin: 0.5em 0em;
        }
      }
    }

    .work-recent-stories {
      @include flex-container;
      flex: 1 100%;

      .work-story-1 {
        flex: 2;
        padding: 1em;
        img {
          width: 100%;
        }
      }

      .work-stories-right {
        padding: 1em;
        @include flex-container;
        flex: 1;
        flex-flow: row wrap;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;

        .work-story-2 {
          img {
            width: 100%;
          }
        }
        .work-story-3 {
          align-self: flex-end;
          img {
            width: 100%;
          }
        }
      }
    }

    .work-btn-wrapper {
      padding: 1em;
      .btn {
        display: inline-block;
      }
    }
  }

  //-------------------------------------
  // section-approach
  //-------------------------------------
  #section-approach-child {
    text-align: left;
    display: block;
  }

  #section-approach-flex {
    @include flex-container;
  }

  #approach-main {
    width: 48%;
    float: left;
    padding-right: 2%;
    display: block;
    background-color: inherit;
    flex: none;
    text-align: left;

    h1 {
      font-size: 38px;
      line-height: 110%;
      font-weight: 500;
    }

    .main {
      display: block;
      line-height: 2.5em;
      margin: 2em 0em 3em;
      font-size: 14px;
    }

    .main-mobile {
      display: none;
    }
  }

  #approach-flex-mobile-wrapper {
    display: none;
  }

  #approach-reel-desktop {
    display: block;
    width: 48%;
    padding-left: 2%;
    float: right;
    padding-top: 10em;
    display: block;
    flex: none;
    img {
      width: 100%;
      max-width: none;
    }
  }

  #approach-quote-desktop {
    float: left;
    display: block;
    background-color: inherit;

    .quote {
      position: relative;
      text-align: center;
      margin: 1em 0em;

      .quote-text {
        @extend .quote-blue;
        margin: auto;
        max-width: 18em;
        font-size: 26px;
      }
    }

    .quote-attrib {
      margin: 0.5em 0em;
      color: white;
    }
    .white-line {
      background-color: white;
    }
  }

  //-------------------------------------
  // section-about
  //-------------------------------------
  #section-about-child {

    h1 {
      font-size: 42px;
      margin: 0em 0em;
    }

    .main {
      display:block;
      line-height: 2.5em;
      margin: 2em auto;
      font-size: 14px;
      max-width: 60em;
    }

    .sub {
      display:block;
      line-height: 2.5em;
      font-size: 14px;
      margin: 0em auto 3em;
      max-width: 60em;
    }

    .main-mobile {
      display: none;
    }

    .sub-mobile {
      display: none;
    }

    .quote {
      position: relative;
      text-align: center;
      .quote-text {
        margin: auto;
        max-width: 12em;
      }
    }

    .quote-attrib {
      margin: 0.5em 0em;
    }
  }

  //-------------------------------------
  // section-campfire
  //-------------------------------------
  #campfire-wrapper {
    top: 230px;

    h1 {
      font-size: 36px;
      margin: 0em 0em;
      max-width: 100%;
    }
  }

  #campfire-aside {
    position: absolute;
    top: 300px;
    left: 20px;
    width: 20em;
    font-size: 11px;
  }

  #btn-find-story {
    position: absolute;
    left: 0;
    top: 200px;
  }

  #btn-telling-it {
    position: absolute;
    right: 0;
    top: 200px;
  }

  #mountains-image, #campfire-image {
    width: 100%;
    left: 0;
  }

  .campfire-video-container {
    width: 100%;
    left: auto;
  }
}
