@mixin all-animation($animation) {
  -webkit-animation: $animation;  /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: $animation;  /* Firefox < 16 */
      -ms-animation: $animation;  /* Internet Explorer */
       -o-animation: $animation;  /* Opera < 12.1 */
          animation: $animation;
}

@mixin transition($transitions) {
  -webkit-transition: $transitions;
  -moz-transition: $transitions;
  -o-transition: $transitions;
  transition: $transitions;
}

@mixin flex-container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
}