/*======================================================*\
 * Mixins
\*======================================================*/

@import "mixins";
@import "fonts";

$icon-font-path: '../fonts/';

/*======================================================*\
 * Body
\*======================================================*/

@media (min-width: 240px) {
  html, body {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-text-size-adjust: 100%;
  }

  body {
    color: white;

    font-family: roboto-light;
    font-size: 12px;

    padding: 0;
    margin: 0;
    opacity: 0;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#010105+0,090919+76 */
    background: #010105; /* Old browsers */
    background: -moz-linear-gradient(top,  #010105 0%, #090919 51%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#010105), color-stop(51%,#090919)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #010105 0%,#090919 51%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #010105 0%,#090919 51%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #010105 0%,#090919 51%); /* IE10+ */
    background: linear-gradient(to bottom,  #010105 0%,#090919 51%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010105', endColorstr='#090919',GradientType=0 ); /* IE6-9 */
  }

  .body-fadein {
    animation-play-state: paused;
    animation-fill-mode: forwards;
    @include all-animation(fadein 2s);

    animation-fill-mode: forwards;
  }

  @mixin fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @keyframes fadein {
    @include fadein;
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
    @include fadein;
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    @include fadein;
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
    @include fadein;
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
    @include fadein;
  }

  /*======================================================*\
   * Global
  \*======================================================*/
  div {
    padding: 0px;
    margin: 0px;
  }

  h1, h2, h3, h4, h5, h6, h7 {
    font-family: "Oswald", san-serif;
    font-weight: 100;
  }

  .relative {
    position: relative;
  }

  .fill {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }

  .quote {
    position: relative;
    margin: 1em 0em;
    text-align: center;
  }

  .quote-attrib {
    margin: 0.5em 0em;
  }

  .quote-orange {
    color: #ff9900;
    font-size: 24px;
    font-family: "Oswald", san-serif;
    font-weight: 100;
  }

  .quote-blue {
    color: #0099ff;
    font-size: 32px;
    font-family: "Oswald", san-serif;
    font-weight: 100;
  }

  .subsection-child {
    .quote-blue {
      font-size: 24px;
    }
  }

  .quote-yellow {
    color: #ffc94c;
    font-size: 24px;
    font-family: "Oswald", san-serif;
    font-weight: 100;
  }

  .quote-line {
    line-height: 0;
  }

  .white-line {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 1px;
    background-color: white;
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .content-centered {
    max-width: 968px;
    margin: 0 auto;
    position: relative;
  }

  /*======================================================*\
   * Canvas Overlay
  \*======================================================*/
  #stars {
    position: fixed;
    z-index: -3;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
  }

  #embers {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
  }

  /*======================================================*\
   * Parallax Elements
  \*======================================================*/
  .moon-wrapper {
    height: 0;
  }

  .moon {
    background: url("/images/moon.png") no-repeat top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 100%;
    height: 800px;
    color: white;
  }

  .social-fixed-wrapper {
    position: fixed;
    bottom: 10px;
    width: 100%;
  }

  .social-fixed {
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-size: 22px;
    opacity: 0;
    max-width: 400px;

    margin: 0 auto;

    @include transition(opacity 1s ease-in-out);

    a {
      color: white;
      margin: 0em 0.2em;
    }
  }

  .social-show {
    opacity: 1;
  }

  /*======================================================*\
   * Parallax Triggers
  \*======================================================*/
  #contact {
    height: 1200px;
  }

  #story {
    height: 1200px;
  }

  #workshop {
    height: 1200px;
  }

  #work {
    height: 1200px;
  }

  #approach {
    height: 1200px;
  }
  #about {
    height: 1200px;
  }

  #campfire {
    height: 1200px;
  }


  /*======================================================*\
   * Scroll up
  \*======================================================*/
  .scroll-up {
    opacity: 0;

    position: fixed;
    color: white;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;

    top: 60px;

    @include transition(opacity 1s ease-in-out);
  }

  .scroll-up img {
    width: 60px;
    height: 60px;
  }

  .scroll-up-show {
    opacity: 1;
  }

  /*======================================================*\
   * Menu
  \*======================================================*/
  #mobile-menu {
    z-index: 1000;
  }

  #desktop-menu {
    display: none;
  }

  .open-menu {
    position: absolute;
    right: 3.5rem;
    top: 18px;
    background: none;
    border: none;

    .icon-bar {
      width: 2.2rem;
      height: 0.31rem;
      background-color: white;
      margin-bottom:0.25rem;
    }
  }

  #mouse-shield {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1999;
    display: none;
  }

  @media only screen and (max-height: 580px) and (orientation: landscape) {
    .mobile-menu {
      padding-top: 25px;
    }
  }

  .mobile-menu-fixed {
    max-width: 350px;
    overflow: hidden;
    position: fixed;
    right: 0px;
    top: 0px;

    width: 0%;
    height: 100%;

    background-color: #081325;

    z-index: 2000;

    padding-right: 0px;
    padding-left: 0px;
    padding-top: 20px;

    -webkit-transition: width 0.6s ease, padding 0.6s ease;
    transition: width 0.6s ease, padding 0.6s ease;
  }

  .mobile-menu-fixed-open {
    width: 66%;
    height: 100%;

    padding-right: 40px;
    padding-left: 40px;
    border-left: 5px solid #25383C;
  }

  .mobile-menu {
    min-width: 150px;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top:50px;

    a {
      color: #ddd;
      text-decoration: none;
    }

    .btn-close {
      position: absolute;
      top: 0px;
      right: 0px;
      background: none;
      border:none;
      padding: 0px;

      i {
        color: #9a93bc;
        font-size: 28px;
      }
    }

    ul {
      padding: 0px;
      margin: 0px;
      li {
        font-size: 26px;
        list-style: none;
        height: 50px;
      }
    }

    .mobile-nav {
      position: relative;
      text-align:right;
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 20px;
    }

    @media screen and (max-height: 400px) {
      .mobile-nav .section-1 {
        position: absolute;
        left: 0px;
        top: 0px;
      }

      .mobile-nav .section-2 {
        position: absolute;
        left: 200px;
        top: 0px;
      }
    }
  }

  /*======================================================*\
   * Vimeo video link styling
  \*======================================================*/
  .vimeo { 
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    img {
      border: 1px solid white;
      display: block;
      width: 100%;
      margin: auto;
      border-radius: 5px;
    }
    i {
      color: white;
      font-size: 2rem;
      position: absolute;
      top: calc(50% - 1.5rem);
      left: calc(50% - 2.25rem);
      background: rgba(0, 0, 0, .6);
      padding: 0.5rem 1.5rem;
      border-radius: .5rem;
    }
    &:hover {
      i {
        background: #00ADEF;
      }
    }
    &:visited, &:focus, &:active {
      outline: none;
    }
  }

  /*======================================================*\
   * Page css
  \*======================================================*/
  .narrator-logo {
    width: 3em;
    position: absolute;
    top: 10%;
  }

  .narrator-logo-full {
    position: absolute;
    top: 20px;
    height: 2em;
    opacity: 0;
    @include transition(opacity 1s ease-in-out);
  }

  .narrator-logo-full-subsection {
    opacity: 1;
  }

  .narrator-logo-show {
    opacity: 1;
  }

  .narrator-logo-small {
    display: none;
  }

  .btn {
    border: .1em solid white;
    padding: 1em 1.5em;
    display: inline-block;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    cursor: pointer;
    &:hover {
    }
  }

  .btn:hover {
    background-color: rgba(255,255,255,0.3);
  }

  #section-header {
    position: fixed;
    width: 100%;
    padding: 20px;
    top: 0px;
    left: 0px;
    z-index: 2;
  }

  .subsection-header-style {
    background-color: #25383C;
    height: 24px;
  }

  .section {
    position: fixed;
    z-index: 1;
    width: 100%;
    margin: 0px;
    padding: 0px;
    top: -2000px;
  }

  .section-child {
    position: fixed;
    top: 1000px;
    opacity: 0;
    width: 100%;
    -webkit-transform-origin: 50% top;
    -moz-transform-origin: 50% top;
    -ms-transform-origin: 50% top;
    -o-transform-origin: 50% top;
    transform-origin: 50% top;
  }

  //-------------------------------------
  // section-contact
  //-------------------------------------

  #section-contact-child {
    text-align: left;
  }

  #section-contact-flex {
    @include flex-container;
  }

  #contact-right {
    flex: 1 70%;
    order: 2;
    @include flex-container;
    flex-flow: row wrap;
    max-width: 500px;
    margin: 0 25px;

    #contact-text {
      font-size: 18px;
      flex: 1 100%;
    }

    .line {
      flex: 1 100%;
      border-bottom: solid white 1px;
      margin: 1em 0em;
    }

    #contact-fields {
      position: relative;
      flex: 1 1 50%;
      @include flex-container;
      justify-content: flex-end;
      flex-flow: row wrap;

      input[type=text] {
        border: none;
        padding: 8px;
        font-size: 14px;
        flex: 1 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0.2em 0em;
      }

      .line {
        flex: 1 100%;
        border-bottom: solid white 1px;
        margin: 1.8em 0em 2em;
      }

      a {
        display: block;
      }
    }

    #contact-info {
      flex: 1 1 40%;
      margin-left: 5%;
      font-size: 18px;
      line-height: 2em;
      a {
        color: white;
      }
    }
  }

  #contact-quote {
    display: none;
  }

  @media screen and (max-height: 400px) {
    #contact-fields {
      .btn {
        position: absolute;
        right: -200px;
        bottom: 0px;
      }
    }

    #line2 {
      display: none;
    }
  }
  //-------------------------------------
  // section-story-type
  //-------------------------------------
  #section-story-type-flex {
    margin: 1em;
  }

  #section-story-type-child {
    text-align: center;

    .section-story-type-header {
      max-width: 64em;
      margin: auto;
      h1 {
        font-size: 32px;
        line-height: 110%;
        font-weight: 500;
        margin: 0em 0em;
      }

      .main {
        line-height: 2.0em;
        margin: 1em 0em 0em;
        font-size: 14px;
      }

      .story-desktop-copy {
        display: none;
      }
      .story-mobile-copy {
        display: inline;
      }
    }

    .story-types {
      @include flex-container;
      flex-flow: row nowrap;
      justify-content: center;
      margin: auto;
      max-width: 64em;

      .story-type {
        flex: 1;
        margin: 1.5em 0em;
        max-height: 12em;
        max-width: 12em;
        height: 3em;
        a {
          color: white;
        }
        img {
          height: 100%;
          height: 30px;
        }
        span {
          display: block;
          font-size: 14px;
        }
      }
    }
  }

  //-------------------------------------
  // section-workshop
  //-------------------------------------
  #section-workshop-flex {
    display: none;
  }

  #section-workshop-flex-mobile {
    background-color: rgba(87, 92, 102, 0.7);
    width: 100%;
    height: 100%;

    h2, h1 {
      margin: 0em;
    }

    .main {
      margin: 1em 0em;
    }

    .workshop-1 {
      float: left;
      padding: 1em;
    }

    .btn {
      font-size: 13px;
      padding: 0.5em;
    }

    .workshop-2 {
      float: left;
      padding: 1em;

      img {
        margin: 1em auto;
        width: 100%;
      }

      .quote {
        margin: 0;
      }

      .quote-blue {
        font-size: 22px;
      }
    }

    .workshop-img-wrapper {
      margin: auto;
      max-width: 200px;
    }

    @media screen and (max-height: 400px) {
      .workshop-1 {
        max-width: 210px;
      }

      .workshop-2 {
        max-width: 210px;
      }
    }
  }

  //-------------------------------------
  // section-work
  //-------------------------------------
  #section-work-flex {
    display: none;
  }

  #section-work-flex-mobile {
    padding: 0em 1em;

    h2 {
      margin-top: 0;
    }

    .work-story-1 img {
      width: 100%;
    }

    .work-stories {
      display: flex;
      margin-bottom: 1em;

      .work-story-2, .work-story-3 {
        width: 50%;
      }

      .work-story-2 {
        margin-right: 0.5rem;
      }

      .work-story-3 {
        margin-left: 0.4rem;
      }

      .work-story-2 iframe, .work-story-3 iframe {
        width: 100%;
      }
    }

    .btn {
      font-size: 12px;
      padding: 0.5em;
    }

    .quote-yellow {
      font-size: 20px;
    }

    @media screen and (max-height: 580px) {
      .work-story-1 {
        float: left;
        margin-right: 1em;
      }

      .work-story-1 img {
        max-width: 220px;
      }

      .work-btn-wrapper {
        margin: auto;
        float: right;
      }

      .work-quote {
        clear: both;
        width: 100%;
        padding-top: 2em;
      }

      .quote-yellow {
        font-size: 15px;
      }
    }

    @media only screen and (max-height: 580px) and (orientation: landscape) {
      h1 {
        display: inline;
      }
      h2 {
        display: inline-block;
        margin-right: 2em;
      }
      .work-story-1 {
        width: 33%;
        margin-right: 0.5rem;
        img {
          width: 95%;
        }
      }
      .work-stories {
        width: 65%;
      }
      .work-quote {
        clear: none;
        width: 66%;
        padding-top: 1rem;
      }
      .work-btn-wrapper {
        margin-right: 2%;
      }
    }
  }

  //-------------------------------------
  // section-approach
  //-------------------------------------
  #section-approach {
    @extend %section;
  }

  #section-approach-child {
    @extend %section-child;
  }

  #section-approach-flex {
  }

  #approach-main {
    text-align: center;
    background-color: rgba(28, 172, 239, 0.3);

    padding: 0 0;
    padding-top: 10px;

    h2 {
      margin: 0.5em 0em;
    }

    h1 {
      font-size: 24px;
      line-height: 110%;
      font-weight: 500;
      margin: 0.5em 0em;
    }

    .main {
      display: none;
    }

    .main-mobile {
      line-height: 2em;
      padding: 0em 1em 1em;
      font-size: 12px;
      text-align: left;
    }
  }

  #approach-flex-mobile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    padding: 1em 0em;
  }

  #approach-reel, #approach-reel-desktop {
    width: 50%;
    a { 
      width: 100%;
      img {
        width: 100%;
        max-width: 500px;
        margin: auto;
      }
    }
  }

  #approach-reel-desktop {
    display: none;
  }

  #approach-quote, #approach-quote-desktop {
    width: 45%;
    background-color: white;
    padding: 1em 1em;

    .quote {
      position: relative;
      text-align: center;
      margin: 0em;
      .quote-text {
        margin: auto;
        color: #0099ff;
        font-size: 16px;
        font-family: "Oswald", san-serif;
        font-weight: 100;
        max-width: 200px;
      }
    }

    .quote-attrib {
      margin: 0.3em 0em 0.2em;
      color: grey;
      font-size: 12px;
    }

    .white-line {
      background-color: DimGray;
    }
  }

  #approach-quote-desktop {
    display: none;
    width: auto;
  }

  //-------------------------------------
  // section-about
  //-------------------------------------
  #section-about {
    @extend %section;
  }

  #section-about-child {
    @extend %section-child;
    text-align: center;

    h1 {
      font-size: 24px;
      font-weight: 500;
      margin: 0em 0em;
    }

    .main {
      display:none;
    }

    .sub {
      display:none;
    }

    .main-mobile {
      line-height: 1.5em;
      margin: 1em;
      font-size: 14px;
    }

    .sub-mobile {
      line-height: 1.5em;
      margin: 1em;
      font-size: 14px;
    }

    .quote {
      position: relative;
      text-align: center;
      .quote-text {
        margin: auto;
        max-width: 12em;
      }
    }

    .quote-attrib {
      margin: 0.5em 0em;
    }
  }

  //-------------------------------------
  // section-campfire
  //-------------------------------------
  #section-campfire {
  }

  #section-campfire-child {
    height:700px;
  }

  #section-campfire-flex {
  }

  #campfire-wrapper {
    position: absolute;
    top: 140px;
    width: 100%;
    text-align: center;

    h1 {
      font-size: 18px;
      font-weight: 100;
      font-family: "roboto-light", san-serif;
      margin: 0 1em;
    }

    div {
      font-size: 2.5em;
      font-weight: 100;
      span {
        display: inline-block;
      }
    }
  }

  #btn-find-story {
    margin: 1em;
    width: 190px;
    font-size: 18px;
  }

  #btn-telling-it {
    margin: 1em;
    width: 190px;
    font-size: 18px;
  }

  #campfire-aside {
    display: none;
  }

  #mountains-image, #campfire-image {
    position: absolute;
    bottom: 0px;
    z-index: -3;
    //width: 200vw;
    //left: -50vw;
    img {
      width: 100%;
    }
  }

  #campfire-video {
    position: absolute;
    width: 100%;
    bottom: 0px;
  }

  .campfire-video-offset {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .campfire-video-container {
    position: fixed;
    z-index: -2;
    width: 200vw;
    left: -50vw;
    bottom: 0px;
    height: 100%;
  }

  #campfire-image {
    display: none;
  }

  /*======================================================*\
   * Subsections
  \*======================================================*/
  .subsection {
    background-color: #081325;
    width: 100%;

    .main-image {
      max-width: 450px;
      max-height: 150px;
      width: 90%;
      -o-object-fit: contain;
      object-fit: contain;
    }
  }

  .subsection-child {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 25px;
    text-align: center;

    h1 {
      font-size: 32px;
      font-weight: 500;
    }
    .content {
      color: #a9a9a9;
      font-size: 16px;
      text-align: left;
      line-height: 2em;
      margin: 0.5em;
      margin-top: 3em;
    }

    ul {
      color: #a9a9a9;
      font-size: 16px;
      margin-right: 0em;
      text-align: left;
      line-height: 2em;
      margin-left: 0.5em;
    }

    .icon {
      width: 50px;
      margin: 2em;
    }

    .callout {
      text-align: left;
      font-size: 18px;
      font-weight: 400;
      margin: 3em 0em 0em 0.6em;
    }

    .examples-row {
      @include flex-container;
      flex-flow: row nowrap;
      justify-content: center;
      margin: auto;
      max-width: 64em;
      font-size: 18px;
      .example {
        flex: 1;
        margin: 0.6em;
        img {
          width: 100%;
        }
      }
    }
  }

  //-------------------------------------
  // section-music
  //-------------------------------------
  #subsection-music {
    .music-cassette {
      width: 250px;
      margin: 2em;
    }
  }

  //-------------------------------------
  // section-video
  //-------------------------------------
  #subsection-video {
    .examples-row {
      .video-example {
        margin: 0.3em;
      }
    }
  }

  //-------------------------------------
  // section-branding
  //-------------------------------------
  #subsection-branding {

    .brand-examples-row {
      margin: 4em auto 2em;

      .brand-example {

      }
    }
  }

  //-------------------------------------
  // section-design
  //-------------------------------------
  #subsection-design {
  }

  //-------------------------------------
  // section-digital
  //-------------------------------------
  #subsection-digital {
  }

  //-------------------------------------
  // section-social
  //-------------------------------------
  #subsection-social {
    padding: 0em 0em 4em;
  }

  //-------------------------------------
  // section-content
  //-------------------------------------
  #subsection-content {
    padding: 0em 0em 4em;

    .subsection-banner {
      height: 20vh;
      min-height: 100px;
      max-height: 300px;
      overflow: hidden;
      #content-image {
        width: 100%;
      }
    }
  }

  //-------------------------------------
  // section-broadcast
  //-------------------------------------
  #subsection-broadcast {
    padding: 4em 0em;

    #broadcast-image {
      max-width: 450px;
      width: 100%;
    }

    .icon {
      width: 50px;
    }

    .broadcast-examples-row {
      .broadcast-example {
        margin: 0.4em;
      }
    }
  }

  //-------------------------------------
  // section-workshop
  //-------------------------------------
  #subsection-workshop-detail {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    padding: 0em 0em 4em;
    display: none;
    overflow: scroll;

    #workshop-image {
      width: 450px;
    }

    .content {
      margin-bottom: 0em;
    }

    ol {
      color: #a9a9a9;
      font-size: 16px;
      text-align: left;
      margin: 0em 2em 0em 3em;
      margin-right: 0em;
      margin-left: 0.5em;
      line-height: 2em;

      ul {
        margin-left: 0em;
        list-style: inside;
        padding: 0em;
        margin-bottom: 2em;
      }
    }

    #contact-section {
      flex: 1 70%;
      order: 2;
      @include flex-container;
      flex-flow: row wrap;
      padding-top: 2em;

      #contact-fields {
        flex: 1 1 50%;
        @include flex-container;
        justify-content: flex-end;
        flex-flow: row wrap;
        margin-left: 10%;

        input[type=text] {
          border: none;
          padding: 8px;
          font-size: 18px;
          flex: 1 100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0.2em 0em;
        }
      }

      #contact-info {
        color: #a9a9a9;
        flex: 1 1 35%;
        margin-left: 5%;
        text-align: left;
        font-size: 18px;
        line-height: 2em;
      }
    }
  }

  /*======================================================*\
   * Subsection Carousel
  \*======================================================*/
  #subsection-carousel {
    background-color: #081325;
    position: fixed;
    display: none;
    margin: auto auto;
    height: 100vh;
    top: 0px;
    left: 0px;
    width: 100vw;

    .item {
    }

    .owl-carousel {
      position:relative;
      height: calc(100% - 8rem);
      margin-top: 4rem;

      .owl-wrapper-outer {
        height: 100%;
      }

      .owl-wrapper {
        position: inherit;
        height: 100%;
      }

      .owl-item {
        height: 100%;
        overflow: auto;
      }
    }

    .subsection-dock {
      position:fixed;
      bottom: 0px;
      width:100%;
      height: 4rem;

      background-color: #25383C;

      .dock-item {
        border: none;
        display: inline-block;
        height: 2rem;
        width: 10vw;
        cursor: pointer;
        margin: 0rem 0rem;

        img {
          height: 90%;
        }
      }

      .dockItem:hover {
        background-color: none;
      }

      .activeDockItem {
        height: 3rem;
        width: 3rem;
        margin: 0rem;
        position: relative;
        img {
          height: 100%;
        }
      }
    }
  }

  #subsection-close {
    display: none;
  }

  #workshop-close {
    display: none;
  }
}

