/*======================================================*\
 * Mixins
\*======================================================*/

@import "mixins";
@import "fonts";

$icon-font-path: '../fonts/';

/*======================================================*\
 * Body
\*======================================================*/

@media (min-width: 320px) {
  html, body {
    overflow-x: hidden;
    overflow-y: auto;
  }

  body {
    color: white;

    font-family: roboto-light;
    font-size: 12px;

    padding: 0;
    margin: 0;
    opacity: 0;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#010105+0,090919+76 */
    background: #010105; /* Old browsers */
    background: -moz-linear-gradient(top,  #010105 0%, #090919 51%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#010105), color-stop(51%,#090919)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #010105 0%,#090919 51%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #010105 0%,#090919 51%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #010105 0%,#090919 51%); /* IE10+ */
    background: linear-gradient(to bottom,  #010105 0%,#090919 51%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010105', endColorstr='#090919',GradientType=0 ); /* IE6-9 */
  }

  .body-fadein {
    animation-play-state: paused;
    animation-fill-mode: forwards;
    @include all-animation(fadein 2s);

    animation-fill-mode: forwards;
  }

  @mixin fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @keyframes fadein {
    @include fadein;
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
    @include fadein;
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    @include fadein;
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
    @include fadein;
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
    @include fadein;
  }

  /*======================================================*\
   * Global
  \*======================================================*/
  div {
    padding: 0px;
    margin: 0px;
  }

  h1, h2, h3, h4, h5, h6, h7 {
    font-family: "Oswald", san-serif;
    font-weight: 100;
  }

  .relative {
    position: relative;
  }

  .fill {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }

  .quote {
    position: relative;
    margin: 1em 0em;
    text-align: center;
  }

  .quote-attrib {
    margin: 0.5em 0em;
  }

  .quote-orange {
    color: #ff9900;
    font-size: 24px;
    font-family: "Oswald", san-serif;
    font-weight: 100;
  }

  .quote-blue {
    color: #0099ff;
    font-size: 32px;
    font-family: "Oswald", san-serif;
    font-weight: 100;
  }

  .quote-yellow {
    color: #ffc94c;
    font-size: 24px;
    font-family: "Oswald", san-serif;
    font-weight: 100;
  }

  .quote-line {
    line-height: 0;
  }

  .white-line {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 1px;
    background-color: white;
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .content-centered {
    max-width: 968px;
    margin: 0 auto;
    position: relative;
  }

  /*======================================================*\
   * Canvas Overlay
  \*======================================================*/
  #stars {
    position: fixed;
    z-index: -3;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
  }

  #embers {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
  }

  /*======================================================*\
   * Parallax Elements
  \*======================================================*/
  .moon {
    background: url("/images/moon.png") no-repeat top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 100%;
    height: 800px;
    color: white;
  }

  .social-fixed {
    position: fixed;
    bottom: 20px;
    left: 50%;
    width: 24em;
    margin-left: -12em;
    color: white;
    text-align: center;
    font-size: 22px;
    opacity: 0;
    @include transition(opacity 1s ease-in-out);
    a {
      color: white;
      margin: 0em 0.2em;
    }
  }

  .social-show {
    opacity: 1;
  }

  /*======================================================*\
   * Parallax Triggers
  \*======================================================*/
  #section-contact-trigger {
    height: 400px;
  }

  #section-story-type-trigger {
    height: 1200px;
  }

  #section-workshop-trigger {
    height: 1200px;
  }

  #section-work-trigger {
    height: 1200px;
  }

  #section-approach-trigger {
    height: 1200px;
  }
  #section-about-trigger {
    height: 1200px;
  }

  #section-campfire-trigger {
    height: 1200px;
  }


  /*======================================================*\
   * Scroll up
  \*======================================================*/
  .scroll-up {
    opacity: 0;

    position: fixed;
    color: white;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;

    top: 40px;

    @include transition(opacity 1s ease-in-out);
  }

  .scroll-up img {
    width: 80px;
    height: 80px;
  }

  .scroll-up-show {
    opacity: 1;
  }

  /*======================================================*\
   * Page css
  \*======================================================*/
  .narrator-logo {
    width: 3em;
    position: absolute;
    top: 10%;
    left: 10%;
  }

  .narrator-logo-full {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 2em;
    opacity: 0;
    @include transition(opacity 1s ease-in-out);
  }

  .narrator-logo-show {
    opacity: 1;
  }

  .narrator-logo-small {
    display: none;
  }

  .btn {
    border: .1em solid white;
    padding: 1em 1.5em;
    display: inline-block;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    cursor: pointer;
    &:hover {
    }
  }

  .btn:hover {
    background-color: rgba(255,255,255,0.3);
  }

  #section-header {
    position: fixed;
    top: 2em;
    left: 2em;
  }

  .section {
    position: fixed;
    z-index: 1;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .section-child {
    position: fixed;
    top: 1000px;
    opacity: 0;
    width: 100%;
    -webkit-transform-origin: 50% top;
    -moz-transform-origin: 50% top;
    -ms-transform-origin: 50% top;
    -o-transform-origin: 50% top;
    transform-origin: 50% top;
  }

  //-------------------------------------
  // section-contact
  //-------------------------------------
  #section-contact {
    @extend %section;
  }

  #section-contact-child {
    @extend %section-child;
    text-align: left;
  }

  #section-contact-flex {
    @include flex-container;
  }

  #contact-right {
    flex: 1;
    order: 2;
    @include flex-container;
    flex-flow: row wrap;
    padding-top: 200px;
    max-width: 500px;

    #contact-text {
      font-size: 22px;
      flex: 1 100%;
    }

    .line {
      flex: 1 100%;
      border-bottom: solid white 1px;
      margin: 1em 0em;
    }

    #contact-fields {
      flex: 1 1 60%;
      @include flex-container;
      justify-content: flex-end;
      flex-flow: row wrap;

      input[type=text] {
        border: none;
        padding: 8px;
        font-size: 22px;
        flex: 1 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0.2em 0em;
      }

      .line {
        flex: 1 100%;
        border-bottom: solid white 1px;
        margin: 1.8em 0em 2em;
      }

      a {
        display: block;
      }
    }

    #contact-info {
      flex: 1 1 35%;
      margin-left: 5%;
      font-size: 18px;
      line-height: 2em;
      a {
        color: white;
      }
    }
  }

  #contact-quote {
    flex: 1;
    order: 1;
    .quote {
      position: relative;
      text-align: center;
      margin: 1em auto;
      max-width: 27em;
    }

    .quote-attrib {
      margin: 0.5em 0em;
    }

    padding-top: 200px;
  }

  //-------------------------------------
  // section-story-type
  //-------------------------------------
  #section-story-type {
    @extend %section;
  }

  #section-story-type-child {
    @extend %section-child;
    text-align: center;

    #section-story-type-header {
      max-width: 64em;
      margin: auto;
      h1 {
        font-size: 38px;
        line-height: 110%;
        font-weight: 500;
        margin: 0em 0em;
      }

      .main {
        line-height: 2.5em;
        margin: 2em 0em 3em;
        font-size: 14px;
      }
    }

    .story-types {
      @include flex-container;
      flex-flow: row nowrap;
      justify-content: center;
      margin: auto;
      max-width: 64em;

      .story-type {
        flex: 1;
        margin: 2em;
        max-height: 12em;
        max-width: 12em;
        height: 12em;
        img {
          height: 75%;
        }
        span {
          display: block;
          font-size: 22px;
        }
      }
    }
  }

  //-------------------------------------
  // section-workshop
  //-------------------------------------
  #section-workshop {
    @extend %section;
  }

  #section-workshop-child {
    @extend %section-child;

    #section-workshop-flex {
      @include flex-container;

      max-width: 1024px;
      margin: 0 auto;
      text-align: left;

      #work-right {
        flex: 1;
        order: 2;
        padding: 1em;
        h1 {
          font-size: 38px;
          line-height: 110%;
          font-weight: 500;
          margin: 0em 0em;
        }

        .main {
          line-height: 2.5em;
          margin: 2em 0em 2em;
          font-size: 14px;
        }

        a {
          align-self: flex-end;
        }
      }

      #work-left {
        flex: 1;
        order: 1;
        padding: 1em;

        #workshop-quote {
          margin: 4em 0em 3em;
          .quote {
            position: relative;
            text-align: center;
            .quote-text {
              margin: auto;
              max-width: 11em;
            }
          }

          .quote-attrib {
            margin: 0.5em 0em;
          }
        }

        img {
          width: 100%;
        }
      }
    }
  }

  //-------------------------------------
  // section-work
  //-------------------------------------
  #section-work {
    @extend %section;
  }

  #section-work-child {
    @extend %section-child;
    text-align: left;
    width: 75%;
    left: 12.5%;
    margin-left: 0;

    @include flex-container;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    #work-header {
      flex: 1 100%;
      @include flex-container;

      #work-title {
        flex: 2;
        padding: 1em;
        h1 {
          font-size: 42px;
          line-height: 110%;
          font-weight: 500;
          margin: 0em 0em 0.5em 0em;
          margin: 0px;
        }
      }

      #work-quote {
        flex: 1;
        padding: 1em;
        .quote {
          position: relative;
          text-align: center;
          .quote-text {
            margin: auto;
            max-width: 18em;
          }
        }
        .quote-attrib {
          margin: 0.5em 0em;
        }
      }
    }

    #work-recent-stories {
      @include flex-container;
      flex: 1 100%;

      #work-story-1 {
        flex: 2;
        padding: 1em;
        img {
          width: 100%;
        }
      }
      #work-stories-right {
        padding: 1em;
        @include flex-container;
        flex: 1;
        flex-flow: row wrap;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;

        #work-story-2 {
          img {
            width: 100%;
          }
        }
        #work-story-3 {
          align-self: flex-end;
          img {
            width: 100%;
          }
        }
      }
    }
    #work-btn-wrapper {
      padding: 1em;
      .btn {
        display: inline-block;
      }
    }
  }

  //-------------------------------------
  // section-approach
  //-------------------------------------
  #section-approach {
    @extend %section;
  }

  #section-approach-child {
    @extend %section-child;
  }

  #section-approach-flex {
    @include flex-container;
  }

  #approach-main {
    background-color: rgba(28, 172, 239, 0.5);

    h1 {
      font-size: 24px;
      line-height: 110%;
      font-weight: 500;
      margin: 1em 0em;
    }

    .main {
      line-height: 2em;
      margin: 1em 1em 2em;
      font-size: 12px;
      text-align: left;
    }
  }

  #approach-reel {
    img {
      width: 100%;
    }
  }

  #approach-quote {
    background-color: white;
    padding: 1em 0em;

    .quote {
      position: relative;
      text-align: center;
      margin: 0em;
      .quote-text {
        margin: auto;
        max-width: 18em;
        color: #0099ff;
        font-size: 16px;
        font-family: "Oswald", san-serif;
        font-weight: 100;
      }
    }

    .quote-attrib {
      margin: 0.3em 0em 0.2em;
      color: grey;
      font-size: 12px;
    }
    .white-line {
      background-color: DimGray;
    }
  }

  //-------------------------------------
  // section-about
  //-------------------------------------
  #section-about {
    @extend %section;
  }

  #section-about-child {
    @extend %section-child;
    text-align: center;

    h1 {
      font-size: 24px;
      font-weight: 500;
      margin: 0em 0em;
    }

    .main {
      line-height: 2em;
      margin: 2em auto;
      font-size: 12px;
      max-width: 60em;
    }

    .sub {
      line-height: 2em;
      font-size: 12px;
      margin: 0em auto 3em;
      max-width: 60em;
    }

    .quote {
      position: relative;
      text-align: center;
      .quote-text {
        margin: auto;
        max-width: 12em;
      }
    }

    .quote-attrib {
      margin: 0.5em 0em;
    }
  }

  //-------------------------------------
  // section-campfire
  //-------------------------------------
  #section-campfire {
  }

  #section-campfire-child {
    height:700px;
  }

  #section-campfire-flex {
  }

  #campfire-wrapper {
    position: absolute;
    top: 230px;
    width: 100%;
    text-align: center;

    h1 {
      font-size: 20px;
      font-weight: 100;
      font-family: "roboto-light", san-serif;
    }

    div {
      font-size: 2.5em;
      font-weight: 100;
      span {
        display: inline-block;
      }
    }

    #btn-find-story {
      position: absolute;
      left: 0;
      top: 200px;
    }

    #btn-telling-it {
      position: absolute;
      right: 0;
      top: 200px;
    }
  }

  #campfire-aside {
    display: none;
  }

  #mountains-image {
    position: absolute;
    bottom: 0px;
    z-index: -3;
    width: 200vw;
    left: -50vw;
    img {
      width: 100%;
    }
  }

  #campfire-video {
    position: absolute;
    width: 100%;
    bottom: 0px;
  }

  .campfire-video-offset {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .campfire-video-container {
    position: fixed;
    z-index: -2;
    width: 200vw;
    left: -50vw;
    bottom: 0px;
    height: 100%;
  }
}
